@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(252, 220, 237);
}

/* Estilos para dispositivos móviles */
body {
  font-size: 16px;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}

div {
  display: flex;
  flex-direction: column;
}

/* Media query para tabletas */
@media (min-width: 600px) {
  body {
    font-size: 18px;
    padding: 20px;
  }
  header, main, footer {
    padding: 20px;
    text-align: left;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.2em;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  img {
    width: 50%;
  }
  div {
    flex-direction: row;
    justify-content: space-between;
  }
}
/* Media query para computadoras de escritorio */
@media (min-width: 1024px) {
  body {
    font-size: 20px;
    padding: 30px;
  }
  header, main, footer {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  nav {
    flex-direction: row;
    justify-content: space-around;
  }
  img {
    width: 50%;
  }
  div {
    flex-direction: row;
    justify-content: space-between;
  }
}
p {
  font-family: time "Times New Roman", Times, serif;
  text-align: center;
  font-size: 27px;
}

.titulo {
  display: block;
  color: black;
  text-align: center;
  width: 100%;
  margin-bottom: 0rem;
  padding: 2%;
  background-color: map-get fondo #FFB3C1, menu #ffedf0, formulario #fed1db, titulo hwb(349 55% 1%), titulo;
  border: 1px solid map-get fondo #FFB3C1, menu #ffedf0, formulario #fed1db, titulo hwb(349 55% 1%), titulo;
  font-family: time "Times New Roman", Times, serif;
  font-size: 40xp;
}

.block { /* es de los h2*/
  display: block;
  width: 100%;
  margin: 0.5%;
  padding: 2%;
  background-color: map-get fondo #FFB3C1, menu #ffedf0, formulario #fed1db, titulo hwb(349 55% 1%), fondo;
  border: 1px solid map-get fondo #FFB3C1, menu #ffedf0, formulario #fed1db, titulo hwb(349 55% 1%), fondo;
  font-family: time "Times New Roman", Times, serif;
  font-size: 35px;
  text-align: center;
}

.menu li {
  display: inline-block; /* Ítems del menú en una línea horizontal */
  margin-bottom: auto;
  margin: 0%;
  padding: 0.5%;
  background-color: map-get fondo #FFB3C1, menu #ffedf0, formulario #fed1db, titulo hwb(349 55% 1%), menu;
  align-items: center;
}
.menu a {
  color: black;
  background-color: map-get fondo #FFB3C1, menu #ffedf0, formulario #fed1db, titulo hwb(349 55% 1%), menu;
}

footer {
  display: block;
  padding: 1%;
  background-color: map-get fondo #FFB3C1, menu #ffedf0, formulario #fed1db, titulo hwb(349 55% 1%), fondo;
}
footer div {
  position: relative;
  justify-content: center;
  align-items: center;
}

.bienvenidos {
  display: flex;
  justify-content: space-around; /*vertical*/
  padding: 1%;
  align-items: center;
}
.bienvenidos p {
  color: black;
  font-size: 50px;
}
.bienvenidos.caja1 {
  flex-grow: 5;
}
.bienvenidos.caja2 {
  flex-grow: 5;
}

.nosotras {
  justify-content: space-around;
  padding: auto;
  align-items: flex-start;
  position: relative;
}
.nosotras img {
  position: relative;
  float: left;
  margin: 15px;
  width: 45%;
}
.nosotras p {
  position: static;
  float: none;
  text-align: justify;
}

.conteiner {
  display: grid;
  background-color: map-get fondo #FFB3C1, menu #ffedf0, formulario #fed1db, titulo hwb(349 55% 1%), fondo;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 50%);
  padding: 0%;
  justify-content: space-between;
  align-content: space-evenly;
}
.conteiner.item {
  text-align: center;
  justify-content: center;
  position: auto;
  height: 100%;
}/*# sourceMappingURL=style.css.map */