@use "../scss/utilities/_maps.scss";

.conteiner {
    display: grid;
    background-color: map-get($map: colores, $key: fondo );
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50%);
    padding: 0%;
    justify-content: space-between;
    align-content: space-evenly;
    &.item { 
        text-align: center;
        justify-content: center;
        position:auto;
        height: 100%;
        
    }

}
