@use "../utilities/maps" as *;

footer {
    display: block;
    padding: 1%;
    background-color: map-get ($colores,fondo);
   
    div{
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
}