@use "/utilities/maps" as*;
.menu { 
    li{
        display:inline-block; /* Ítems del menú en una línea horizontal */ 
        margin-bottom: auto;
        margin:0%;
        padding: 0.5%;
        background-color: map-get($map:colores , $key:menu )}

    a {
        color: black;
        background-color: map-get($map:colores , $key:menu );
    }
    
}
